<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
	How to configure colored console: https://github.com/nlog/NLog/wiki/ColoredConsole-target
	-->

    <targets async="true">
        <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace}${newline}"/>
        <target name="logfile"
                xsi:type="File"
                fileName="C:/FantasyCritic/Logs/Web.${date:format=yyyyMMdd}.txt"
                layout="${longdate} ${level} ${callsite} ${message} ${exception:format=ToString,StackTrace}${newline}"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="3"
        />
        <target name="debuglogfile"
                xsi:type="File"
                fileName="C:/FantasyCritic/Logs/WebDebug.${date:format=yyyyMMdd}.txt"
                layout="${longdate} ${level} ${callsite} ${message} ${exception:format=ToString,StackTrace}${newline}"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="1"
        />
        <target name="warnLogFile"
                xsi:type="File"
                fileName="C:/FantasyCritic/Logs/WebWarn.${date:format=yyyyMMdd}.txt"
                layout="${longdate} ${level} ${callsite} ${message} ${exception:format=ToString,StackTrace}${newline}"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="7"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Warn" writeTo="warnLogFile" />
    </rules>
</nlog>
