@model FantasyCritic.Web.Models.EmailTemplates.ConfirmEmailModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
<p>
    Hello @Model.DisplayName,
</p>
<p>
    <a href="@Model.Link">Click here to validate your email address.</a>
</p>
<p>
    If the link above doesn't work immediately, you can use this info to confirm your email address:
</p>
</body>
</html>
