@model FantasyCritic.Web.Models.EmailTemplates.LeagueInviteModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
<p>
    You have been invited to join the league:
    <strong>@Model.League.LeagueName</strong>
    by user: <strong>@Model.League.LeagueManager.DisplayName</strong> (Email Address:<strong>@Model.League.LeagueManager.Email</strong>)
</p>
<p>
    <a href="@Model.Link">Follow this link to go to the site to log in and join the league!</a>
</p>

</body>
</html>
