@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Try these steps:
    <ul>
        <li>Try logging in normally.</li>
        <li>Use the "Resend Confirmation Email" link to confirm your email if you haven't.</li>
        <li>Use the "Forgot Password" link to reset your password.</li>
        <li>Try logging in again.</li>
    </ul>
</p>
<p>
    If that doesn't work, send a DM to <a href="https://twitter.com/fantasy_critic">@@fantasy_critic <font-awesome-icon icon="external-link-alt" size="sm" /></a>
    or to me personally (@@elitefusion) on Discord. You can find me via the <a href="https://discord.gg/dNa7DD3">Fantasy Critic Discord <font-awesome-icon icon="external-link-alt" size="sm" /></a>
    <br/>
    Please include the following:
    <ul>
        <li>Your email address.</li>
        <li>What type of signup/login you are attempting. (As in normal with password, Discord, Google, etc.)</li>
        <li>Any other information that may help me figure out your situation.</li>
    </ul>
</p>
