<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="productionConnectionString" value="Server=localhost;Database=fantasycritic-read;Uid=fantasycritic-readonly;Pwd=secret;SslMode=Required;charset=utf8;" />
    <add key="betaConnectionString" value="Server=localhost;Database=fantasycritic;Uid=fantasycritic;Pwd=secret;SslMode=Required;charset=utf8;" />
    <add key="awsRegion" value="us-east-1" />
    <add key="betaBucket" value="fantasy-critic-beta" />
    <add key="productionRDSName" value="fantasy-critic-rds" />
    <add key="betaRDSName" value="fantasy-critic-beta-rds" />
  </appSettings>
</configuration>
