<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="productionConnectionString" value="Server=localhost;Database=fantasycritic-read;Uid=fantasycritic-readonly;Pwd=0gxPjnmKe8Y7sdxWXga8;SslMode=Required;charset=utf8;" />
    <add key="betaConnectionString" value="Server=localhost;Database=fantasycritic;Uid=fantasycritic;Pwd=0gxPjnmKe8Y7sdxWXga8;SslMode=Required;charset=utf8;" />
  </appSettings>
</configuration>