.main-navbar {
    padding: 0;
    margin: 0;
}

.logo-link {
    padding-bottom: 4px;
}

.full-logo, .minimal-logo {
    height: 47px;
    margin-left: 16px;
}

a, .nav-link {
    color: #D6993A;
}

.btn-primary {
    background-color: #D6993A;
}

.btn {
    border: none;
}

.alert-danger, btn-danger {
    background-color: #AA1E1E;
}

.form-control:disabled {
    color: #eeeeee;
}

.top-nav-button {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
}

@media only screen and (max-width: 550px) {
    .full-logo {
        display: none;
    }
}

@media only screen and (min-width: 551px) {
    .minimal-logo {
        display: none;
    }
}

body {
    background-color: black;
    color: white;
    background-image: url("/img/bg-geo-texture.png");
    background-repeat: repeat;
    min-width: 250px;
    width: auto !important;
    width: 250px;
}
