@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If you have an account, and your email address is confirmed, then you will receive an email. If you do not receive an email, then try
    using the "Resend email confirmation" option.
</p>

