@page
@model FantasyCritic.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Try clearing your cookies and then logging in again.
</p>
<p>
    If that doesn't work, message us on Discord or Twitter.
</p>
