.main-navbar {
    padding: 0;
    margin: 0;
    background-color: #15171a !important;
    margin-bottom: 3px;
    padding-bottom: 1px;
}

.logo-link {
    padding-bottom: 4px;
}

.full-logo, .minimal-logo {
    height: 47px;
    margin-left: 16px;
}

a, .nav-link {
    color: #D6993A;
}

.btn-primary {
    background-color: #D6993A;
}

.btn {
    border: none;
}

.alert-danger, btn-danger {
    background-color: #AA1E1E;
}

.form-control:disabled {
    color: #eeeeee;
}

.top-nav-button {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
}

@media only screen and (max-width: 550px) {
    .full-logo {
        display: none;
    }
}

@media only screen and (min-width: 551px) {
    .minimal-logo {
        display: none;
    }
}

body {
    background-color: black;
    color: white;
    background-image: url("/images/bg-geo-texture.png");
    background-repeat: repeat;
    min-width: 250px;
    width: auto !important;
    width: 250px;
}

.login-button {
    padding: 2px;
    padding-right: 8px;
    margin-bottom: 10px;
    font-weight: bolder;
    width: 230px;
    text-align: left;
}

.login-button:hover {
    filter: brightness(90%);
}

.login-button-google {
    background-color: #4285F4;
}

.login-button-microsoft {
    background-color: #2F2F2F;
}

.login-button-twitch {
    background-color: #6441a5;
}

.login-button-patreon {
    background-color: #FF424D;
}

.login-button-discord {
    background-color: #5865F2;
}

.brand-logo {
    padding: 5px;
    margin-right: 3px;
    width: 40px;
    height: 40px;
    background: white;
}

.consent-scope-list {
    list-style: none;
}

.consent-scope-list li {
    list-style: none;
}

.consent-buttons {
    display: flex;
    gap: 5px;
}

.card, .card .list-group .list-group-item {
    background-color: #414141;
}

.card-header {
    font-size: 25px;
}

.list-group-item label {
    font-size: 15px;
}
