@model FantasyCritic.Web.Models.Identity.ConsentViewModel
@{
    ViewData["Title"] = "Consent";
}

<div class="page-consent">
    <div class="row">
        <div class="col-8 offset-2">
            <partial name="_ValidationSummary" />
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="card text-white bg-dark" style="max-width: 18rem;">
                <div class="card-header">
                    @if (Model.ClientLogoUrl != null)
                    {
                        <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
                    }
                    <h4>@Model.ClientName <small>is requesting your permission</small></h4>
                </div>
                <div class="card-body">
                    <form asp-action="Index">
                        <p>Uncheck the permissions you do not wish to grant.</p>
                        @if (Model.ApiScopes.Any())
                        {
                            <ul class="consent-scope-list">
                                @foreach (var scope in Model.ApiScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        }

                        <input type="hidden" asp-for="ReturnUrl" />
                        @if (Model.AllowRememberConsent)
                        {
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberConsent">
                                    <label class="form-check-label" asp-for="RememberConsent">
                                        <strong>Remember My Decision</strong>
                                    </label>
                                </div>
                            </div>
                        }

                        <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                        <button name="button" value="no" class="btn btn-secondary">No, Do Not Allow</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
