@model FantasyCritic.Lib.Email.EmailModels.PasswordResetModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
<p>
    Hello @Model.DisplayName,
</p>
<p>
    <a href="@Model.Link">Please use this link to reset your account password.</a>
</p>

</body>
</html>
