root = true

[*]
charset = utf-8
indent_style = space
end_of_line =crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
dotnet_diagnostic.IDE0005.severity = warning
csharp_style_namespace_declarations=file_scoped:suggestion

[*.{js,json,vue}]
indent_size = 2
