@media only screen and (max-width: 576px) {
  .footer-logo {
    display: none;
  }
}

#vue-app {
  margin-bottom: 215px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
  line-height: 30px; /* Vertically center the text there */
  padding-top: 10px;
  height: 215px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #15171a;
  padding-bottom: 25px;
}
