@media only screen and (max-width: 343px) {
    .full-contact {
        display: none;
    }
}

@media only screen and (max-width: 679px) {
    .full-logo {
        display: none;
    }

    #vue-app {
        margin-bottom: 75px; /* Margin bottom by footer height */
    }

    .footer {
        height: 75px; /* Set the fixed height of the footer here */
    }

    .container {
        padding-bottom: 25px;
    }
}

@media only screen and (min-width: 680px) {
    .small-logo {
        display: none;
    }

    #vue-app {
        margin-bottom: 175px; /* Margin bottom by footer height */
    }

    .footer {
        height: 175px; /* Set the fixed height of the footer here */
    }
}

.footer {
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    line-height: 30px; /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 1200px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: black;
}
