/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

#vue-app {
    margin-bottom: 40px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    background-color: #243442;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.table-danger td a {
    color: white !important;
}

.table-danger td a:hover {
    color: #cccccc !important;
}

.table-danger td span {
    color: white !important;
}

.table-danger td span:hover {
    color: #cccccc !important;
}

tr.table-primary, tr.table-primary th, tr.table-primary td {
    background-color: #DF691A;
}

tr.table-secondary, tr.table-secondary th, tr.table-secondary td {
    background-color: #415262;
}

.modal-backdrop {
    opacity: 0.6 !important;
}
