/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

#vue-app {
    margin-bottom: 40px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    background-color: #243442;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px; 
}

/*End Sticky Footer*/

/*My Custom Styles*/
.modal-backdrop {
    opacity: 0.6 !important;
}

body {
    background-color: black;
}

a.btn {
    border-radius: 0;
    height: 40px;
    color: white !important;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #D6993A
}
.btn-secondary {
    background-color: #414141
}
.btn-success {
    background-color: #8DC63F
}
.btn-info {
    background-color: #3AACD6
}
.btn-warning {
    background-color: #D96B36
}
.btn-danger {
    background-color: #AA1E1E
}
