/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

#vue-app {
    margin-bottom: 40px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    background-color: #243442;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px; 
}

/*End Sticky Footer*/

/*My Custom Styles*/
.modal-backdrop {
    opacity: 0.6 !important;
}

body {
    background-color: black;
}

a.btn, input.btn {
    border-radius: 0;
    height: 40px;
    color: white !important;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary, .btn-primary:disabled {
    background-color: #D6993A;
}
.btn-secondary, .btn-secondary:disabled {
    background-color: #414141
}
.btn-success, .btn-success:disabled {
    background-color: #8DC63F
}
.btn-info, .btn-info:disabled {
    background-color: #3AACD6
}
.btn-warning, .btn-warning:disabled {
    background-color: #D96B36
}
.btn-danger, .btn-danger:disabled {
    background-color: #AA1E1E
}

h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #D6993A;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

p, span {
    color: white;
}

.danger-text {
    color: #AA1E1E;
}

.shadowed {
    background: rgba(0, 0, 0, 0.39);
    padding: 10px;
}
